body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  text-align: center;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 250px;
  width: 200px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #dadff7;
  box-shadow: 5px 5px 5px 2px #b5b2c2;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 35%;
  color: white;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 25%;
  font-size: 40px;
  border: 2px solid grey;
  margin-inline: 10px;
  margin-top: 2rem;
}

.positive {
  background-color: green;
}

.negative {
  background-color: red;
}
